<div class="centralizacao">
<h2>Catálogo de Produtos</h2>

<button (click)="aumentarPrecos()">Aumentar preços em 10%</button>
<button (click)="diminuirPrecos()">Diminuir preços em 10%</button>
<table border="1" cellpadding="8" cellspacing="0">
  <thead>
    <tr>
      <th>Produto</th>
      <th>Preço</th>
      <th>Estoque</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let produto of produtos">
      <td>{{ produto.nome }}</td>

      <td
        [ngStyle]="{
          color: produto.preco > 2000 ? 'blue' : 'black'
        }"
      >
        R$ {{ produto.preco.toFixed(2) }}
      </td>

      <td>{{ produto.estoque }}</td>

      <td
        [ngClass]="{
          'disponivel': produto.estoque > 0,
          'indisponivel': produto.estoque === 0
        }"
      >
        <span *ngIf="produto.estoque > 0">Disponível</span>
        <span *ngIf="produto.estoque === 0">Indisponível</span>
      </td>
    </tr>
  </tbody>
</table>
</div>
